{% extends "layouts.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card rounded-lg">
    <div class="card-header bg-success text-white">
        <h1 class="mb-0 text-white"><i class="fas fa-history mr-2"></i> Tarfigiň soňky ýagdaýy</h1>
    </div>
    <div class="card-body p-4">
        {% if logs %}
            <div class="table-responsive">
                <table class="table table-striped table-hover bg-white rounded">
                    <thead class="thead-light">
                        <tr>
                            <th>Usuly</th>
                            <th>Yoly</th>
                            <th>Dowamlylygy</th>
                            <th>Wagty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.method }}</td>
                                <td><span class="text-info">{{ log.path }}</span>
                                </td>
                                <td>
                                    <span class="text-success">{{ log.duration }}</span>
                                   
                                </td>
                                <td>
                                    <span class="text-success">{{ log.timestamp }}</span>
                                   
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="lead">Synag taryhy boş.</p>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}